img{
    height: 100px;
  }  

  #NavBar{
    color: orange;
  }

  hr{
    background-color:orange;
  }

.kanit-regular{
    font-family:"Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}



#CreatorText{
  padding-right:70px;
}

h1{
  text-align: center;
  text-decoration: underline orange;
}

#p{
  text-align: center;
}

#Profile{
height: 550px;
}

#PAlign{
  padding-top: 100px;
}

#Profile2{
  height: 350px;
  padding-right: 100px;
}

#PAlign2{
 padding-left: 90px;
}

#footer{
 background-color: rgb(22, 21, 21);
}