
img{
    height: 100px;
  }  

  #NavBar{
    color: orange;
  }

  hr{
    background-color:orange;
  }


  
  

  #PC{
  height: 50%;
  width: 95%;
  
  }

  
  #CarouselSize{
    height : 40%;
    width : 30%;

  }

  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
#myCard{
  border-bottom : 15px dotted black;
}

button{
  width: 1%;
}
  #Buttons{
  height:100%;
  }


  footer{
    background-color:rgb(45, 42, 42);
    color: white;
  }

  #footer{
    height: 300px;
  }

  #Align{
   text-align: right;

  }